<!DOCTYPE html>
<html lang="ru">

<head>
  
  <title>Wines</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" href="assets/favicon.ico" type="image/png">

  <!-- escape | in url query with %7C . See more https://developer.donnoval.ru/w3cvalidation/ -->
  <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:600%7CMontserrat&amp;display=swap" rel="stylesheet"> 

  <link rel="stylesheet" href="fonts/icomoon/style.css">

  <link rel="stylesheet" href="css/bootstrap/bootstrap.css">
  <link rel="stylesheet" href="css/jquery-ui.css">
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">
  <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
  <link rel="stylesheet" href="css/aos.css">
  <link rel="stylesheet" href="css/style.css">
  
</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>


    
    <div class="header-top">
      <div class="container">
        <div class="d-flex">
          <div class="p-2 flex-grow-1">
            <a href="template.html" class="site-logo mx-auto d-block">
              <img src="assets/logo.png" alt="Image" class="img-fluid">
            </a>
          </div>
          <div class="p-2 align-self-center d-md-none">
            <a href="#" class="ml-auto d-block site-menu-toggle js-menu-toggle text-black">
              <span class="icon-menu h1"></span>
            </a>
          </div>
        </div>


      </div>
      
      <div class="site-navbar py-2 js-sticky-header site-navbar-target d-none pl-0 d-md-block" role="banner">

        <div class="container">
          <div class="d-flex align-items-center">
            
            <div class="mx-auto">
              <nav class="site-navigation position-relative text-left">
                <ul class="site-menu main-menu js-clone-nav mx-auto d-none pl-0 d-md-block border-none">
                  <li class="active"><a href="template.html" class="nav-link text-left">Главная</a></li>
                  <li><a href="#products" class="nav-link text-left">Коллекция вин</a></li>
                  <li><a href="#feedback" class="nav-link text-left">Отзывы</a></li>
                  <li><a href="#footer" class="nav-link text-left">Контакты</a></li>
                </ul>                                                                                                                                                                                                                                                                                         
              </nav>

            </div>
           
          </div>
        </div>

      </div>
    
    </div>


    <div class="owl-carousel hero-slide owl-style">
      <div class="intro-section container" style="background-image: url('assets/hero_1.jpg');">
        <div class="row justify-content-center text-center align-items-center">
          <div class="col-md-8">
            <span class="sub-title">Высший сорт</span>
            <h1>Элитные виноградники</h1>
          </div>
        </div>
      </div>

      <div class="intro-section container" style="background-image: url('assets/hero_2.jpg');">
        <div class="row justify-content-center text-center align-items-center">
          <div class="col-md-8">
            <span class="sub-title">Добро пожаловать</span>
            <h1>Домашние вина</h1>
          </div>
        </div>
      </div>

    </div>
    
    
    <div><a id="products"></a></div>
    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-12 section-title text-center mb-5">
            <h2 class="d-block">Коллекция вин</h2>
            <p>Вино — один из самых благородных и многогранных напитков в мире! Виноделие берёт своё начало с незапамятных времён. Вино упоминается в Библии и Коране, греческой и римской мифологии, где были свои боги вина (к примеру, Дионис). Стоит отметить, что почти у каждого народа существует своя легенда, повествующая о появлении божественного эликсира — вина.
            </p>
          </div>
        </div>
        <div class="row">
          {% for wines, categorys in products_by_categories.items() : %}
            <div class="col-12 section-title text-center mb-5">
              <h2 class="d-block">{{wines}}</h2>
            </div>
            {% for wine in wines : %}
              <div class="col-lg-4 mb-5 col-md-6">
                <div class="wine_v_1 text-center pb-4 pt-5">
                  <img src="images/{{wine['Картинка']}}" alt="Image" class="img-fluid">
                  {% if wine['Акция'] %}
                  <img src="assets/profitable.png" style="width:10rem;height: 10rem;position:absolute;right: -20px;top: -20px;">
                  {% endif %}
                  <div>
                    <h3 class="heading mt-3 mb-3 text-dark">{{wine['Название']}}</h3>
                    <p>
                      {% if wine['Сорт'] %}
                      {% endif %}
                      <span class="price">{{wine['Цена']}}</span>
                    </p>
                  </div>
                </div>
                </div>
              {% endif %}
            {% endfor %}
            {% for wine in wines : %}
                <div class="col-lg-4 mb-5 col-md-6">
                  <div class="wine_v_1 text-center pb-4 pt-5">
                      <img src="images/{{wine['Картинка']}}" alt="Image" class="img-fluid">
                    {% if wine['Акция'] %}
                      <img src="assets/profitable.png" style="width:10rem;height: 10rem;position:absolute;right: -20px;top: -20px;">
                    {% endif %}
                    <div>
                      {{wine['Сорт']}}<br/>
                      <h3 class="heading mt-3 mb-3 text-dark">{{wine['Название']}}</h3>
                      <p>
                        <span class="price">{{wine['Цена']}}</span>
                      </p>
                    </div>
                  </div>
                </div>
            {% endfor %}
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="hero-2" style="background-image: url('assets/hero_2.jpg');">
    <div><a id="feedback"></a></div>
     <div class="container">
        <div class="row justify-content-center text-center align-items-center">
          <div class="col-md-8">
            <h2 style="font-size: 3rem;">проверено временем</h2>
            <span class="sub-title" style="font-size: 2.5rem;">{{age}}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section bg-light">
      <div class="container">
        <div class="owl-carousel owl-slide-3 owl-slide">
        
          <blockquote class="testimony">
            <img src="assets/person_1.jpg" alt="Фото">
            <p>&ldquo;Если бы вино Киндзмараули вдруг стало мужчиной, то это был бы средних лет (35-40 лет) аристократичный мужчина, в белой дорогой рубашке и брюках,
               хорошей обуви, статный, знающий чего он хочет, успешный, но имеющий в своей душе такие струны,
               с которыми может быть созвучна истинная женская трепетность и беззащитность.
               Он может быть незаметен, он не бросается в глаза, но от того, что он есть, все вокруг становится на свои места.&rdquo;</p>
            <p class="small text-primary">&mdash; Марина Ли</p>
          </blockquote>
          <blockquote class="testimony">
            <img src="assets/person_2.jpg" alt="Фото">
            <p>&ldquo;Вино столовое полусладкое белое Кокур - неплохое вино, молодое, невыдержанное. Особенности технологии его производства и дают, очевидно, такой вкус.
              Вкус - довольно простой, несложный, но приятный. Невыдержанное вино в чем-то близко к молодому виноградному соку.
              Пьется легко, вкус приятно- округлый, нежный.&rdquo;</p>
            <p class="small text-primary">&mdash; Михаил Яковлев</p>
          </blockquote>
          <blockquote class="testimony">
            <img src="assets/person_3.jpg" alt="Фото">
            <p>&ldquo;Вина Шардоне хорошо подходят к нейтральным по остроте мясным, рыбным блюдам, блюдам из птицы, сырам и фруктам (яблоко, апельсин и груша). Вино мне понравилось, голова на утро от него не болела. Рекомендую.&rdquo;</p>
            <p class="small text-primary">&mdash; Андрей Власов</p>
          </blockquote>
       
        </div>
      </div>
    </div>
  

    
    <div class="footer">
      <div><a id="footer"></a></div>
      <div class="container">
        
        <div class="row">
          <div class="col-12 text-center">
            <div class="social-icons">
              <a href="#"><span class="icon-facebook"></span></a>
              <a href="#"><span class="icon-twitter"></span></a>
              <a href="#"><span class="icon-youtube"></span></a>
              <a href="#"><span class="icon-instagram"></span></a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="copyright">
                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>



            </div>
          </div>
        </div>
      </div>
    </div>
    

  </div>
  <!-- .site-wrap -->


  <!-- loader -->
  <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#ff5e15"/></svg></div>

  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.sticky.js"></script>
  <script src="js/main.js"></script>

</body>

</html>
